


/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "serif";
}






/******************************************
/* BASE STYLES
/*******************************************/

body{
  background: #F0EEEC;
}








/************************************ 

~ NAVIGATION MENU ~

*************************************/





/******** Initial Menu Styles ********/

header{
  background: transparent;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

a {
  color: #006565;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 15px 5px;
  margin: 0 10pt;
}
li a:hover {
  color:#F0EEEC;
  background-color: #006565;
  border-radius: 25pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.menu li {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

.logo {
  margin: 5pt;
  width: 55pt;
  height: auto;
}




/******** Mobile Menu ********/

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}

.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}





/******** Desktop Menu ********/

@media all and (min-width: 1080px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0; 
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}





/******** Hamburger Menu ********/

.toggle {
  cursor: pointer;
}

.bars {
  background:#006565;
  display: inline-block;
  height: 2px;
  width: 18px;
  position: relative;
}

.bars::before,
.bars::after {
  background: #006565;
  display: inline-block;
  height: 2px;
  width: 18px;
  position: absolute;
  content: "";
}
.bars::before {
  top: 5px;
}
.bars::after {
  top: -5px;
}










/************************************ 

~ LANDING PAGE HERO SECTION ~

*************************************/


.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 25pt;
}

.landingHook {
  display: grid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin: 20pt;
}

h1 {
  color: #006565;
  text-align: center;
  height: fit-content;
  font-size: 3.5rem;
  font-weight: 900;
  margin: 3% 0%;
}

p.role {
  color: #006565;
  background:transparent;
  font-size: 1.5rem;
  font-weight: 600;
  height: fit-content;
  text-align: center;
  margin: 5% 0%;
}

h3 {
  color: #F0EEEC;
  font-size: 1.4rem;
  font-weight: 900;
  height: fit-content;
  text-align: center;
  margin: 25pt;
}


.buttonContainer {
  background:transparent;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 25pt;
}
.cta {
  text-align: center;
  height: 100%;
  max-width: 35%;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  color:#F0EEEC;
  background-color: #006565;
  border-radius: 25pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 1.15rem;
}
.cta:hover{
  color:#006565;
  background-color:#F0EEEC;
}
p {
  height: fit-content;
  color: white;
  font-size: 1rem;
  padding: 4px;
}








/************************************ 

~ ABOUT ME SECTION ~

*************************************/


.about {
  background: transparent;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25pt;
}

.aboutContainer {
  border-radius: 25pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  background: #006565;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 90vw;
  padding: 25pt;
  margin: 20pt;
}

h2 {
  color: #F0EEEC;
  text-align: center;
  font-size: 2.5rem;
  margin: 25pt;
}

.aboutSubContainer {
  border-radius: 15pt;
  height: fit-content;
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
}

img.portrait {
  width: 20vw;
  max-height:auto;
  border-radius: 15pt;
  margin: 25pt;
  margin-right: 12.25pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.containerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25pt;
  background: #F0EEEC;
  height: fit-content;
  width: 50vw;
  margin: 25pt;
  margin-left: 12.25pt;
  margin-bottom: 0;
  padding: 25pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.pContainer{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  border-radius: 25pt;
  color: #006565;
  background: transparent;
  font-size: 1.25rem;
  font-weight: 600;
  width: 70%;
  height: 80%
  font-family: Arial, Helvetica, sans-serif;
  margin:25pt;
}

.one{
  margin-bottom: 12.25pt;
}
.two{
  margin-top: 12.25pt;
}

.buttonsContainer {
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.resumeButton {
  color: #006565;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: #F0EEEC;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 25pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  padding: 10pt 20pt;
  margin: 0 10pt;
}

.resumeButton:hover{
  color:#F0EEEC;
  background: #006565;
}

.contactMe {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 25pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  min-width: fit-content;
  padding: 10pt 20pt;
  margin: 0 10pt;
  color:#F0EEEC;
  background-color: #006565;
}

.contactMe:hover{
  color:#006565;
  background: #F0EEEC;
}








/************************************ 

~ SKILLS SECTION ~

*************************************/


.skills {
  background: #F0EEEC;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 25pt;
  padding-bottom: 25pt;
}

.skillsContainer {
  border-radius: 15pt;
  height: fit-content;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: transparent;
}

.skillsTitle{
  color: #006565;
}

.skillsListsContainer {
  background: transparent;
  height: fit-content;
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.technicalSkills,
.otherSkills,
.tools {
  background: #006565;
  border-radius: 25pt;
  width: 26vw;
  height: fit-content;
  display: grid;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.technicalHeader,
.otherHeader,
.toolsHeader {
  font-size: 1.80rem;
}

.technicalList,
.otherList,
.toolsList {
  display: grid;
  text-align: center;
  font-size: 1.25rem;
  height: 50vh;
  color: #F0EEEC;
}

.listItem{
  font-size: 1rem;
  font-weight: 600;
}

.placeHolder {
  visibility: hidden;
}










/************************************ 

~ PROJECTS SECTION ~

*************************************/


.projects{

  background: #006565;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 25pt;

}

.projectsTitle{
  color: #F0EEEC;
  margin-top: 50pt;
}

.projectOne,
.projectTwo,
.projectThree {
  background: #F0EEEC;
  border-radius: 25pt;
  width: 26vw;
  height: fit-content;
  display: grid;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 1.25rem;
}

.projectOneHeader, .projectTwoHeader, .projectThreeHeader{
  color: #006565;
}

.projectDescription{
  color: #006565;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* .codeButton{
  background: #006565;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 25pt;
  text-align: center;
  height: 6vh;
  min-width: fit-content;
  color:#F0EEEC;
  background-color: #006565;
} */



.projectLinks{
  width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding:0;
  border:2pt solid #006565;
  border-radius: 25pt;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.projectOne,
  .projectTwo,
  .projectThree {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }





/************************************ 

~ CONTACT SECTION ~

*************************************/


.contact{
  color:#006565;
  background: #F0EEEC;
  height: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 25pt;
  padding-bottom:100pt;
}


.form{
  background: #006565;
  border-radius: 25pt;
  width: 26vw;
  height: fit-content;
  display: grid;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.myInfoContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phone, .email{
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

#contactHeader{
  color: #006565;
}

h2{
  margin: 0;
    padding: 20px 40px;
}
.form{
  padding: 30px 40px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}


.form-control label{
  display: inline-block;
  margin-bottom: 5px;
  color: rgb(12, 12, 12)
}


.form-control input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.form-control.success input{
  border-color: #2ecc71;
}
.form-control.error input{
  border-color: #e74c3c;
}


.form-control i{
  position: absolute;
  visibility: hidden;
  top:40px;
  right:10px;
}
.form-control.success i.good {
  visibility: visible;
  color:#2ecc71;
}
.form-control.error i.bad {
  visibility: visible;
  color: #e74c3c;
}


.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control.error small{
  visibility: visible;
  color: #e74c3c;
}


.form button{
  background: #2ecc71;
  border: 2px solid #2ecc71;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: inherit;
}





/************************************ 

~ FOOTER SECTION ~

*************************************/



.footerInfo{
  color: #006565;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin: 10pt;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/



li a:active, a.cta:active, a.contactMe:active,
a.resumeButton:active {
  background: #009999;
  color: #F0EEEC;
}


@media screen and (max-width: 1080px) {

  /* for when breakmarks are to be determined */

  .aboutSubContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img.portrait {
    margin: 25pt;
    width: 65vw;
  }

  .containerContainer {
    width: 80vw;
    margin: 10pt;
  }

  .aboutMe{
    width: 65vw;
  max-height:auto;
  border-radius: 15pt;
  margin: 25pt;
  margin-right: 12.25pt;
  }

  .one{
    margin-bottom: 10pt;
  }

  .two {
    margin-top: 10pt;
  }

  .skillsListsContainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .technicalSkills,
  .otherSkills,
  .tools, .projectOne,
  .projectTwo,
  .projectThree {
    width: 80vw;
    margin: 10pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

}



